[flake8]
select = B,B9,BLK,C,D,DAR,E,F,I,S,W

# black configuration
# ignore zip strict mode (requires py310+) - B905
ignore = E203,E501,W503,B905
max-line-length = 88

# import order
application-import-names = pgdtools,tests
import-order-style = google

# bandit: exclude test cases
per-file-ignores = tests/*:S101

# docstring style linting
docstring-convention = pep257
