# Database integrity test, adopted after https://github.com/pavelzw/pytest-action/

name: database_integrity

on:
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get -y install libegl1-mesa
        python -m pip install --upgrade pip
        pip install .[dev]
        pip install coveralls
        pip install pytest pytest-md pytest-emoji
    - uses: pavelzw/pytest-action@v2
      with:
        emoji: true
        verbose: true
        job-summary: true
        click-to-expand: false
        report-title: "Database Integrity Test"
        custom-arguments: "test_database/"
